Lee A. Christie

For Matt's MPMP Scrabble Problem

In [1]:
import itertools
from tqdm.notebook import tqdm
from collections import Counter
import pandas as pd
from scipy.special import comb

First we define the letter distribution for the English Scrabble set.

In [2]:
dist = [(0, '-', 2), (1, 'E', 12), (1, 'A', 9), (1, 'I', 9), 
        (1, 'O', 8), (1, 'N', 6), (1, 'R', 6), (1, 'T', 6), 
        (1, 'L', 4), (1, 'S', 4), (1, 'U', 4), (2, 'D', 4), 
        (2, 'G', 3), (3, 'B', 2), (3, 'C', 2), (3, 'M', 2), 
        (3, 'P', 2), (4, 'F', 2), (4, 'H', 2), (4, 'V', 2), 
        (4, 'W', 2), (4, 'Y', 2), (5, 'K', 1), (8, 'J', 1),
        (8, 'X', 1), (10, 'Q', 1), (10, 'Z', 1)]

Next we turn this distribution of points into a dict for easy lookup.

In [3]:
points_lookup = {l : p for p, l, _ in dist}

Just testing...

In [4]:
letter = 'D'
points = points_lookup[letter]

print(f'{letter} is worth {points} points.')

D is worth 2 points.

Now line up all of the letters.

In [5]:
full_set = ''
for _, l, c in dist:
    full_set += l * c

full_set

'--EEEEEEEEEEEEAAAAAAAAAIIIIIIIIIOOOOOOOONNNNNNRRRRRRTTTTTTLLLLSSSSUUUUDDDDGGGBBCCMMPPFFHHVVWWYYKJXQZ'

In [6]:
def value(combo):
    global points_lookup
    return sum([points_lookup[l] for l in combo])

Find out how many iterations this will take.

In [7]:
num_tiles = 7

effort = int(comb(len(full_set), num_tiles))

print(f'Will take {effort} iterations.')

Will take 16007560800 iterations.

Just 16 billion iterations, it should be fine.

Let's get counting...

tqdm will give us a progress bar so it's less boring.

In [9]:
target = 46

result = Counter()

seen = set()
for combo in tqdm(itertools.combinations(full_set, num_tiles), total=effort):
    combo = ''.join(combo)
    if combo not in seen:
        seen.add(combo)
        points = value(combo)
        result[points] += 1

the_answer = result[target]
        
print(f'\nFound {the_answer} ways to make a total of {target} points')

HBox(children=(IntProgress(value=0, max=16007560800), HTML(value='')))

Found 138 ways to make a total of 46 points

Okay, done. Now we have the number of ways for every possible number of points.

We will save this in a file so we don't have to wait 2 hours again.

In [10]:
col0 = []
col1 = []
for k in sorted(result):
    col0.append(k)
    col1.append(result[k])
results_df = pd.DataFrame({'Total Points' : col0, 'Numer of Ways' : col1})

results_df.to_csv('scrabble_result.csv', index=False)

results_df

    Total Points  Numer of Ways
0              5           1999
1              6           6405
2              7          18790
3              8          25646
4              9          48307
5             10          69814
6             11          86696
7             12         110555
8             13         132063
9             14         147805
10            15         157415
11            16         177560
12            17         180235
13            18         185615
14            19         192527
15            20         188541
16            21         182312
17            22         176179
18            23         165556
19            24         147003
20            25         135984
21            26         120567
22            27         102279
23            28          89488
24            29          76671
25            30          62179
26            31          50855
27            32          41806
28            33          31654
29            34          24152
30            35          18877
31            36          13495
32            37           9661
33            38           7329
34            39           4976
35            40           3213
36            41           2254
37            42           1431
38            43            749
39            44            484
40            45            314
41            46            138
42            47             80
43            48             50
44            49             15